html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font: 16px Helvetica;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Button */
button {
  border: none;
}

/* Link */
.link:hover {
  color: #304ffe;
}

:link {
  text-decoration: none;
}

:visited {
  text-decoration: none;
}

/***************** Alert *******************/
.success {
  color: green
}

.danger {
  color: red
}

.alert {
  padding: 10px;
  border: 1px solid transparent;
  border: 5px
}

.alert-info {
  color: blue;
  background-color: white;
}

.alert-danger {
  color: red;
  background-color: white;
}


/******************** App ***********************/
.screen-container {
  margin: auto;
}

.main {
  margin-left: 0;
  display: flex;
  flex-direction: row;
}

.pages-content {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 700px;
}

/**** Searchbar *********/
.searchbar {
  position: absolute;
  right: 30%;
  top: 15px;
}

.search-component {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.search-component select {
  width: fit-content;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.search-component .search-key {
  margin-left: 1px;
  min-width: 500px;
  height: 38px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 10px;
}

.search-component button {
  background-color: #ff9100;
  width: 50px;
  border-radius: 5px;
  cursor: pointer
}

.search-component .fa-search {
  width: 25px;
  height: 25px;
  font-size: 26px;
  color: #404040;
}

.search-component button:hover {
  background-color: #ff6d00;
}

.search-component .fa-search:hover {
  font-size: 30px;

}

/******************** Header ***********************/

.header {
  overflow: hidden;
  background-color: #F5F5F5;
  height: 70px;
  border-bottom: #bdbdbd 1px solid;
  z-index: 3;
  background-color: #c9168d;
}

.header-container {
  border-bottom: 1px solid #9e9e9e;
  height: 70px;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
}

.nav-menu .nav-item {
  font-size: 20px;
  color: white;
  padding: 20px;
}

.header-links {
  position: absolute;
  top: 15px;
  right: 15%;
}

/**   dropdown */
.dropdown {
  display: inline-block;
  position: relative;
  font-size: 20px;
}

.dropdown-content {
  position: absolute;
  display: none;
  min-width: 120px;
  margin-top: 30px;
  padding: 20px;
}

.dropdown .link {
  color: #1976d2;
  font-size: 20px;
}

.dropdown .link:hover {
  color: #01579b;
  font-size: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/******************** Sidebar ***********************/
.sidebar-container {
  padding-top: 30px;
  width: 200px;
  margin-left: 100px;
}

.sidebar {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
}

.sidebar .head {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
}

.marketplace {
  font-size: 24px;
  color: #7a023c;
  font-weight: bold;
  margin-top: 5px;
}

.sidebar .middle {
  padding-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
}

.sidebar .row {
  margin-bottom: 20px;
}


.sidebar .cart {
  margin: auto;
  width: fit-content;
  margin-top: 50px;
}

.sidebar .cart img {
  width: 88px;
  height: 88px;
  padding-bottom: 20px;
}

.sidebar .menu .link {
  font-size: 20px;
  color: #545871;
  font-weight: bold;

}

.sidebar .link:hover {
  color: #304ffe;
}


/******************** Footer ***********************/

.footer .text {
  padding-top: 50px;
}

.footer .text {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.footer .text div {
  margin: auto;
  padding-top: 30px;
  text-align: center;
}

/******************** WellcomeComponent ***********************/
.wellcome-container .left {
  margin: auto;
  background-color: rgb(231, 228, 228);
  padding-top: 30px;
}

.wellcome-container .head {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  padding-left: 5%;
}

.wellcome-container .head .link {
  color: #7a023c;
}

.wellcome-container .head .link:hover {
  color: blue;
}

.wellcome-container .head .text {
  font-size: 24px;
  color: #7a023c;
  width: 179px;
  text-align: left;
  margin-right: auto;
  padding-left: 10px;
  padding-top: 20px;
  font-weight: bold;
}

.wellcome-container .description {
  margin: auto;
  padding-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
}

.wellcome-container .description h2 {
  color: #b8817d;
  font-size: 30px;
}


.wellcome-container .description li {
  color: #b8817d;
  font-size: 24px;
  padding-bottom: 20px;
}

.wellcome-container .left img {
  margin: 0;
  max-width: 100%;
  height: auto;
}

/******************** WellcomePage***********************/

.wellcome-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}



.wellcome-container .right {
  margin: auto;
  padding-top: 30px;
}

.wellcome-container .right .text {
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  font-size: 40px;
  color: #545871;
  margin-top: 100px;
  margin-bottom: 30px;
}

.wellcome-container .comunities {
  display: flex;
  flex-wrap: wrap;
}

.wellcome-container .community {
  width: 150px;
  height: 150px;
}

.wellcome-container .community .country {
  font-size: 24px;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

.wellcome-container .community img {
  display: block;
  max-width: 80px;
  margin: auto;
}

.wellcome-container .right button {
  margin-top: 20%;
  margin-left: 80%;
  font-size: 24px;
  border: black 1px solid;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}


.wellcome-container .logo-canada:hover {
  background-color: #f44336;
  width: 100px;
}

.wellcome-container .canada:hover {
  color: #304ffe;
  text-decoration: underline;
}

/***************** SigninPage RegisterPage*******************/

.wellcome-container .form {
  width: 400px;
  margin: auto;
  height: auto;
  margin-left: 50px;

}


.wellcome-container .form h3 {
  color: black;
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

.wellcome-container .form div {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  /* background-color: #304ffe; */
}

.wellcome-container .form label {
  font-size: 16px;
  margin: 0 0 10px;
}

.wellcome-container .form input {
  width: 100%;
  border: 0;
  border: #9e9e9e 1px solid;
  border-radius: 10px;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.wellcome-container .form .select-box {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}

/* checkbox */
.wellcome-container .form .admin-checkbox {
  margin-top: 30px;
}

.wellcome-container .form .box {
  width: 10%;
}

input[type='checkbox'] {
  float: left;
  width: 10px;
}

input[type='checkbox']+label {
  display: block;
  width: auto;
}

.wellcome-container .form .terms {
  margin-top: 20px;
  color: black;
  font-size: 14px;
}

.wellcome-container .form .submit-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 150px;
}

.wellcome-container .form .submit {
  background-color: #1976d2;
  font-weight: bold;
}

.form .submit:hover,
.form .submit:active {
  background-color: #304ffe;
}

.wellcome-container .form .message {
  color: black;
  font-size: 14px;
  text-align: center;
}

.wellcome-container .form .message .linkto:hover {
  color: blue;
  font-size: 15px;
  text-decoration: blink;
}


/** sign in with other account*/
.wellcome-container .form .message2 {
  margin-top: 40px;
  font-size: 14px;
}

.account {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

}

.wellcome-container .account .image {
  width: 40px;
  padding-right: 20px;
}

.wellcome-container .account img {
  width: 100%;
}

/******************** HomePage***********************/

.home-container {
  width: 100%;
  background-color: red;
}

.home-container .upper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 50px;
  background-position: center;
  background-size: cover;
}

.home-container .upper .left {
  margin-left: 0;
  padding-left: 3%;
}

.home-container .upper .right {
  padding-top: 40px;
  margin-left: auto;
}

.home-container .right .menu {
  display: flex;
  flex-wrap: wrap;
}

.home-container .right .menu span {
  padding-right: 30px;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
}

.home-container .right .description {
  max-width: 400px;
  font-size: 54px;
  color: #D5F2EA;
  padding-top: 30px;
}

.home-container .right .signin-button {
  margin-top: 30px;
  padding-left: 20%;
}

.home-container .signin-button span {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  border: #D5F2EA 1px solid;
  background-color: #ffffff;
  font-size: 30px;
  color: #545871;
}

.home-container .right .link:hover {
  color: #304ffe;
}

.home-container .list-products {
  background-color: #e8f8f4;
  padding-top: 100px;
  padding-bottom: 100px;
}


.home-container .list-services {
  background-color: #ebd0ce;
  padding-top: 100px;
  padding-bottom: 100px;
}

.home-container .list-expertises {
  background-color: #cff4eb;
  padding-top: 100px;
  padding-bottom: 100px;
}


.home-container .more {
  text-align: center;
  font-size: 25px;
  padding-top: 40px;
  font-weight: bold;
}

/******************** ListItem ***********************/

.itemlist-container .home-category {
  font-size: 48px;
  font-weight: bold;
  color: #545871;
  text-align: center;
  padding-bottom: 50px;

}

.itemlist-container .list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.itemlist-container .list-items .item {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-right: 2%;
  margin-left: 2%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  padding-right: 40px;
}

.itemlist-container .item-info {
  width: 150px;
  margin-left: 10px;
}

.itemlist-container .item-image {
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.itemlist-container .item-name {
  height: 40%;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.item-city,
.item-price,
.item-rating {
  height: 15%;
  margin-top: 10px;
}

.itemlist-container .link {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.itemlist-container .link:hover {
  color: blue;
  text-decoration: underline;
}

.itemlist-container .item-price {
  font-size: 25px;
  font-weight: bold;
}

/******************** Rating ***********************/
.rating {
  color: #ff9800;
  margin: 1px;
}

.rating span:last-child {
  color: black;
}


/******************** ProfilePage ***********************/

.profile-container .form-profile {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: white;
  padding-top: 50px;
}

.profile-container .title-image {
  padding-top: 30px;
  display: flex;
}


.profile-container .upload-image {
  width: 200px;
}


.profile-container .upload-image .upload-button {
  margin-top: 0;
  font-size: 20px;
}


.profile-container .upload-button .fileinputs {
  position: relative;
}

.profile-container .upload-button .fileinputs .file {
  position: relative;
  text-align: right;
  opacity: 0;
  z-index: 2;
}


.profile-container .upload-button .fileinputs .fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.profile-container .fileinputs:hover {
  cursor: pointer;
}


.profile-container .title-image .upload-image input:hover {
  background-color: #304ffe;
}

.profile-container .title-image h1 {
  padding-top: 40px;
}


.form-profile .profile-row div {
  border-bottom: #9e9e9e 1px solid;
  padding-top: 30px;
  margin-right: 50px;
}

.profile-row label {
  width: 120px;
  display: inline-block;

}

.profile-row input {
  width: 300px;
  min-height: 20px;
  margin-right: 10px;
  border: 0;
}

.profile-row button {
  color: blue;

}

/******************************* admin pages **********************************/
/******************** AdminSidebar ***********************/
.admin-sidebar-container {
  padding-top: 30px;
  width: 300px;
  margin-left: 100px;
}

.admin-sidebar .top {
  margin-left: auto;
  margin-right: auto;
  padding-left: 3%;
}

.admin-sidebar .top .marketplace {
  font-size: 26px;
  color: #7a023c;
  font-weight: bold;
  margin-top: 5px;

}

.admin-sidebar .middle {
  padding-top: 40px;
  padding-left: 3%;
  padding-right: 3%;
}

.admin-sidebar .menu div {
  margin-bottom: 20px;
}


.admin-sidebar .menu .link {
  font-size: 20px;
  color: #545871;
  font-weight: bold;
}

.admin-sidebar .link:hover {
  color: #304ffe;
}

/********************AdminOVerviewPage*********************/
.admin-container {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.admin-table .table .column1 {
  width: 200px;
  text-align: center;
}


.admin-table .table .column2 {
  width: 250px;
  text-align: center;
}

.admin-table .table .column3 {
  width: 200px;
  text-align: center;
}

/********************AdminListAwaitingValidation*********************/
.admin-table {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.admin-table .table {
  padding-top: 100px;
}


.admin-table .title-table {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  padding-bottom: 10px;
}

.admin-table .row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.admin-table .table .userid {
  width: 300px;
  text-align: center;
}

.admin-table .table .username {
  width: 150px;
  text-align: center;
}

.admin-table .table .email {
  width: 300px;
  text-align: center;
}

.admin-table .table .request {
  width: 200px;
  text-align: center;
}

.admin-table .table .status {
  width: 100px;
  text-align: center;
}

.admin-table .table .div-button {
  width: 200px
}

.admin-table .table button {
  font-size: 16px;
  border: #9e9e9e 1px solid;
  background-color: #ff6d00;
  border-radius: 5px;
  margin-left: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.admin-table .table button:hover {
  background-color: #f44336;
}

/********************AdminListValidatedUsers*********************/

.admin-table .table .validate {
  width: 150px;
  text-align: center;
}

.admin-table .table .initalcredit {
  width: 100px;
  text-align: center;
}


/********************AdminManagePage*********************/

.admin-table .create {
  padding-right: 1%;
  color: blue;
  text-align: right;
}

/********************AdminCreateNewAdmin*********************/
.admin-table .form {
  width: 400px;
  margin: auto;
  height: auto;
}


.admin-table .form h3 {
  color: black;
  text-align: center;
  padding: 20px;
}

.admin-table .form div {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.admin-table .form label {
  font-size: 16px;
  margin: 0 0 10px;
}

.admin-table .form input {
  width: 100%;
  border: 0;
  border: #9e9e9e 1px solid;
  border-radius: 10px;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}


.admin-table .form .div-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 150px;
}

.admin-table .form .submit {
  background-color: #1976d2;
  font-weight: bold;
}

.form .submit:hover,
.form .submit:active {
  background-color: #304ffe;
}


/*  responsive css*/
/* mobile*/
@media(min-width:480px) {
  .pages-content {
    /* width: 100%; */
  }
}

/* tablet */
@media(min-width:768px) {
  .pages-content {
    /* width: 100%; */
  }
}

/* deskto[ */
@media(min-width:992px) {
  .pages-content {
    /* width: 100%; */
  }
}

@media(min-width:1200px) {
  .pages-content {
    /* width: 90%; */
  }

}

/**********************************************************************************/

/******************** ItemDetails ***********************/

/* layout: image, information, action */
.details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
  margin-right: 100px;
  margin-left: 100px;
}

.back-to-mar {
  text-decoration: underline;
}

.details-c1 {
  flex: 1 1 100px;
  text-align: center;
}

.details-buttons {
  padding: 1rem;
}

.details-button {
  height: 150px;
  width: 250px;
  padding: 3rem;
  border: 0.1rem #f5f5f5 solid;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  font-size: large;
  margin: 10px;
}

.details-button:hover {
  border: 0.1rem #404040 solid;
  background-color: aqua;
}

.details-image img {
  max-width: 200px;
}

/* information */
.details-information {
  flex: 1 1 300px;
  margin-right: 30px;
  margin-left: 100px;
}

.details-title {
  text-align: center;
}

.details-description {
  font-weight: bold;
}

.details-description-content {
  font-weight: normal;
}

/* action */
.details-action {
  flex: 1 1 250px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.details-information ul,
.details-action ul {
  list-style-type: none;
}

.details-information li,
.details-action li {
  margin-bottom: 10px;
}

.details-action .price {
  color: #e53935;
}

.details-action {
  border: 1px grey solid;
  border-radius: 5px;
  background-color: white;
  padding-left: 0px;
  padding-right: 20px;
}

.button-addToCart {
  outline-style: none;
  margin-top: 20px;
  padding: 5px;
  border: 1px grey solid;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff9100;
  width: 100%;
}

.button-addToCart:hover {
  background-color: #ff6d00;
}

.button-buy {
  outline-style: none;
  padding: 5px;
  border: 1px grey solid;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f44336;
  width: 100%;
}

.button-buy:hover {
  background-color: #e53935;
}



/***************** WalletPage *******************/

.wallet-container {
  margin-top: 50px;
}

.view-more {
  text-decoration: underline;
  text-align: right;
  font-size: large;
}

.button-more {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.currency-box {
  margin-top: 50px;
  width: 200px;
  border-style: dotted;
  border-radius: 25px;
  background-color: lightcoral;
  padding: 1rem;
  text-align: center;
}

table.transaction {
  border-collapse: separate;
  border: none;
  border-spacing: 0 20px;
  display: table;
}

tr.transaction-row:hover {
  background-color: #f5f5f5;
  text-align: left;
}

td.trans-text {
  text-align: left;
  border: outset;
  width: 500px;
}

td.trans-text li {
  list-style-type: none;
}

td.trans-price {
  text-align: center;
  border: outset;
  width: 200px;
}

.back-to-reframery {
  padding: 1 rem;
}

.wallet {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1 rem;
  margin-left: 100px;
}

.wallet-c1 {
  float: left;
}

.wallet-c2 {
  margin-left: 100px;
  float: right;
}