html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font: 16px Helvetica;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

/* Button */
button {
  border: none;
  background: none;
}

button:hover {
  font-weight: bold;
}

/* Link */
.link:hover {
  color: #304ffe;
}

:link {
  text-decoration: none;
}

:visited {
  text-decoration: none;
}

.background-white{
  background-color:white;
}

/***************** Alert *******************/
.loading {
  font-size: 40px;
}

.success {
  color: green
}

.danger {
  color: red
}

.alert {
  padding: 10px;
  border: 1px solid transparent;
  border: 5px
}

.alert-info {
  color: blue;
  background-color: white;
}

.alert-danger {
  color: red;
  background-color: white;
}


/******************** App ***********************/
main {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 700px;
}

/**** Searchbar *********/

.searchbar {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.search-component {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.search-component select {
  width: fit-content;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.search-component .search-key {
  margin-left: 1px;
  min-width: 300px;
  height: 38px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 10px;
}

.search-component button {
  background-color: #ff9100;
  width: 50px;
  border-radius: 5px;
  cursor: pointer
}

.search-component .fa-search {
  width: 25px;
  height: 25px;
  font-size: 26px;
  color: #404040;
}

.search-component button:hover {
  background-color: #ff6d00;
}

.search-component .fa-search:hover {
  font-size: 30px;

}

/******************** Header ***********************/

header {
  min-width: 1300px;
}



.header-container {
  border-bottom: 1px solid #9e9e9e;
  height: 70px;
  background-color: #c9168d;
  display: flex;
  flex-wrap: wrap;
}

.navbar-logo {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-start {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-wrap: wrap;
}

.navbar-search {
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-end {
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
}

.header-container .nav-item {
  font-size: 20px;
  color: white;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

/**   dropdown */
.dropdown ul {
  position: absolute;
  display: none;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 120px;
  background-color: transparent;
  padding-top: 0px;
  padding-left: 30px;

}

.dropdown .link {
  color: #01579b;
  font-size: 18px;
}

.dropdown .link:hover {
  color: blue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/******************** Sidebar ***********************/
/* layout for sidebar and content of pages*/
.sidebar-content {
  display: flex;
  flex-wrap: wrap;
  min-width: 1200px;
  min-height: 600px;
}

.sidebar-container {
  padding-top: 30px;
  width: 200px;
  padding-left: 20px;
}

.sidebar {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
}

.sidebar .link:hover {
  font-weight: bold;
  color: #304ffe;
}


/******************** Footer ***********************/
.footer .text {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.footer .text div {
  margin: auto;
  /* padding-top: 30px; */
  text-align: center;
}

/******************** WellcomeComponent ***********************/
.wellcome-container .left {
  margin: auto;
  background-color: rgb(231, 228, 228);
  padding-top: 30px;
}

.wellcome-container .head {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  padding-left: 5%;
}

.wellcome-container .head .link {
  color: #7a023c;
}

.wellcome-container .head .link:hover {
  color: blue;
}

.wellcome-container .head .text {
  font-size: 24px;
  color: #7a023c;
  width: 179px;
  text-align: left;
  margin-right: auto;
  padding-left: 10px;
  padding-top: 20px;
  font-weight: bold;
}

.wellcome-container .description {
  margin: auto;
  padding-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
}

.wellcome-container .description h2 {
  color: #b8817d;
  font-size: 30px;
}


.wellcome-container .description li {
  color: #b8817d;
  font-size: 24px;
  padding-bottom: 20px;
}

.wellcome-container .left img {
  margin: 0;
  max-width: 100%;
  height: auto;
}

/******************** WellcomePage***********************/
.wellcome-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-left: 6%;
  margin-right: 6%;
}

.wellcome-container .right {
  margin: auto;
  padding-top: 30px;
}

.wellcome-container .right .text {
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  font-size: 40px;
  color: #545871;
  margin-top: 100px;
  margin-bottom: 30px;
}

.wellcome-container .comunities {
  display: flex;
  flex-wrap: wrap;
}

.wellcome-container .community {
  width: 150px;
  height: 150px;
}

.wellcome-container .community .country {
  font-size: 24px;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

.wellcome-container .community img {
  display: block;
  max-width: 80px;
  margin: auto;
}

.wellcome-container .right button {
  margin-top: 20%;
  margin-left: 80%;
  font-size: 24px;
  border: black 1px solid;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}


.wellcome-container .logo-canada:hover {
  background-color: #f44336;
  width: 100px;
}

.wellcome-container .country:hover {
  color: #304ffe;
  text-decoration: underline;
}

/***************** SigninPage RegisterPage*******************/

.wellcome-container .form {
  width: 400px;
  margin: auto;
  height: auto;
  margin-left: 50px;

}


.wellcome-container .form h3 {
  color: black;
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

.wellcome-container .form div {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.wellcome-container .form label {
  font-size: 16px;
  margin: 0 0 10px;
}

.wellcome-container .form input {
  width: 100%;
  border: 0;
  border: #9e9e9e 1px solid;
  border-radius: 10px;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.wellcome-container .form .select-box {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}

/* checkbox */
.wellcome-container .form .admin-checkbox {
  margin-top: 30px;
}

.wellcome-container .form .box {
  width: 10%;
}

input[type='checkbox'] {
  float: left;
  width: 10px; 
}

input[type='checkbox']+label {
  display: block;
  width: auto;
}

.wellcome-container .form .terms {
  margin-top: 20px;
  color: black;
  font-size: 14px;
}

.wellcome-container .submit-button {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.wellcome-container .button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
}


.wellcome-container .form .message {
  color: black;
  font-size: 14px;
  text-align: center;
  background-color: transparent;
}

.wellcome-container .form .link:hover {
  color: blue;
  font-size: 15px;
  text-decoration: blink;
}

/******************** ItemsPage***********************/

.home-container .background {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  background-position: center;
  background-size: cover;
}

.home-container .background .text {
  padding-top: 50px;
  margin-left: auto;
  margin-right: 6%;
  padding-bottom: 20px;
}

.home-container .text .slogan-container {
  max-width: 400px;
  font-size: 40px;
  color: black;

}


/******************** MoreItemsPage*****************/
.moreItems-category {
  font-size: 48px;
  font-weight: bold;
  color: #545871;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0;
  margin-bottom: 0;

}

.list-products{
  min-height: 600px;
}

.page-number {
  text-align: center;
  margin-bottom: 30px;
}

.page-button {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}

.button1 {
  min-width: 150px;
}

.button2 {
  min-width: 150px;
}

.button1 button {
  width: 100%;
}

.button2 button {
  width: 100%;
}

/******************** ListItem ***********************/

.itemlist-container .home-category {
  font-size: 48px;
  font-weight: bold;
  color: #545871;
  text-align: center;
  padding-bottom: 50px;

}

.itemlist-container .list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.itemlist-container .list-items .item {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-right: 2%;
  margin-left: 2%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  padding-right: 40px;
}

.itemlist-container .item-info {
  width: 150px;
  margin-left: 10px;
}

.itemlist-container .item-image {
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.itemlist-container .item-name {
  height: 40%;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.item-city,
.item-price,
.item-rating {
  height: 15%;
  margin-top: 10px;
}

.itemlist-container .link {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.itemlist-container .link:hover {
  color: blue;
  text-decoration: underline;
}

.itemlist-container .item-price {
  font-size: 25px;
  font-weight: bold;
}

/******************** Rating ***********************/
.rating {
  color: #ff9800;
  margin: 1px;
}

.rating span:last-child {
  color: black;
}

.far {
  color: #404040
}


/******************** ProfilePage ***********************/

.profile-container {
  flex-grow: 2;
}

.profile-container .form-profile {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 0px;
  width: 700px;
  background-color: white;
  padding-left: 50px;
  padding-bottom: 50px;
}

.profile-container .danger {
  padding-top: 30px;
  padding-bottom: 20px;
}

.profile-container .title-image {
  /* padding-top: 30px; */
  display: flex;
}

.profile-container .upload-image {
  width: 300px;
}

.profile-container input {
  width: 200px
}

.upload-image button {
  color: blue;
}

.profile-container .upload-image .upload-button {
  margin-top: 0;
  font-size: 20px;
}


.profile-container .upload-button .fileinputs {
  position: relative;
}

.profile-container .upload-button .fileinputs .file {
  position: relative;
  text-align: right;
  opacity: 0;
  z-index: 2;
}


.profile-container .upload-button .fileinputs .fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.profile-container .fileinputs:hover {
  cursor: pointer;
}


.profile-container .title-image h1 {
  padding-top: 40px;
  font-size: 30px;
}


.profile-container .form-profile .profile-row div {
  padding-top: 30px;
  margin-right: 50px;
}

.profile-row label {
  width: 120px;
  display: inline-block;
}

.profile-row input {
  width: 300px;
  min-height: 20px;
  margin-right: 10px;
  border: 1px bold gray;
}

.profile-row button {
  color: blue;
}


.address-container {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 30px;
}

.address-container .form-profile div {
  padding-top: 30px;
  margin-right: 50px;
}

.address-container .button-container {
  margin-left: auto;
  margin-right: auto;
}

.address-container .button-container button {
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 30px;
}

.address-container h1 {
  font-size: 30px;
}

/******************** Info-page ***********************/
.info-page {
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
}

.info-page .container{
  margin-top: 40px;
  margin-left: 10%;
}

/*  responsive css*/
/* mobile*/
@media(min-width:480px) {
  .main {
    width: 100%;
  }
}

/* tablet */
@media(min-width:768px) {
  .main {
    width: 100%;
    /* background-color: #ff9100; */
  }

}

/* desktop */
@media(min-width:992px) {
  .main {
    width: 100%;
    /* background-color: #b8817d; */
  }

  .home-container .list-items-signin {
    max-width: 70%;
  }

}

@media(min-width:1200px) {
  .main {
    width: 100%;
    /* background-color: #304ffe; */
  }

  .home-container .list-items-signin {
    max-width: 100%;
  }

}

@media(min-width:1500px) {
  .main {
    width: 100%;
    /* background-color: #c9168d; */
  }
}






/**********************************************************************************/

/******************** ItemDetails ***********************/
.item-page {
  padding-top: 50px;

}


/* layout: image, information, action */
.details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
  margin-right: 100px;
  margin-left: 100px;
}

.back-to-mar {
  text-decoration: underline;
}

.details-c1 {
  flex: 1 1 100px;
  text-align: center;
}

.details-buttons {
  padding: 1rem;
}

.details-button {
  height: 150px;
  width: 250px;
  padding: 3rem;
  border: 0.1rem #f5f5f5 solid;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  font-size: large;
  margin: 10px;
}

.details-button:hover {
  border: 0.1rem #404040 solid;
  background-color: aqua;
}

.details-image img {
  max-width: 200px;
}

/* information */
.details-information {
  flex: 1 1 300px;
  margin-right: 30px;
  margin-left: 100px;
}

.details-title {
  text-align: center;
}

.details-description {
  font-weight: bold;
}

.details-description-content {
  font-weight: normal;
}

/* action */
.details-action {
  flex: 1 1 250px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.details-information ul,
.details-action ul {
  list-style-type: none;
}

.details-information li,
.details-action li {
  margin-bottom: 10px;
}

.details-action .price {
  color: #e53935;
}

.details-action {
  border: 1px grey solid;
  border-radius: 5px;
  background-color: white;
  padding-left: 0px;
  padding-right: 20px;
}

.button-addToCart {
  outline-style: none;
  margin-top: 20px;
  padding: 5px;
  border: 1px grey solid;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff9100;
  width: 100%;
}

.button-addToCart:hover {
  background-color: #ff6d00;
}

.button-buy {
  outline-style: none;
  padding: 5px;
  border: 1px grey solid;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f44336;
  width: 100%;
}

.button-buy:hover {
  background-color: #e53935;
}



/***************** WalletPage *******************/


.button-more {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.currency-box {
  margin-top: 50px;
  width: 200px;
  border-style: dotted;
  border-radius: 25px;
  background-color: lightcoral;
  padding: 1rem;
  text-align: center;
}

table.transaction {
  border-collapse: separate;
  border: none;
  border-spacing: 0 20px;
  display: table;
}

tr.transaction-row:hover {
  background-color: #f5f5f5;
  text-align: left;
}

td.trans-text {
  text-align: left;
  border: outset;
  width: 500px;
}

td.trans-text li {
  list-style-type: none;
}

td.trans-price {
  text-align: center;
  border: outset;
  width: 200px;
}

.trans-image {
  width: 10px;
  height: 20px;
}

.back-to-reframery {
  padding: 1 rem;
}

.wallet {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1 rem;
  margin-left: 100px;
  margin-top: 50px;
}

.wallet-c1 {
  float: left;
}

.wallet-c2 {
  margin-left: 100px;
  float: right;
}


/***************** MyItemPage *******************/

.sidebar-content .container {
  width: 500px;
}

.item-main {
  margin: 30px;
  border: outset;
}


/***************** CreatedItemList *******************/

.myitems-header {
  font-size: 30px;
  font-weight: bold;
  color: #545871;
  text-align: left;
}